# python 坐标的网格化处理
    输入：坐标经纬度，网格的行数和列数  
    输出：坐标的网格区域ID

In [1]:
import pandas as pd
import random

In [2]:
# 区域范围
LON1 = 121.4135 
LON2 = 121.4176
LAT1 = 31.2165
LAT2 = 31.3233

In [3]:
# 随机生成100个范围内的坐标点
lon =[] 
lat =[] 
for i in range(100):
    lon.append(round(random.uniform(LON1, LON2), 4))
    lat.append(round(random.uniform(LAT1, LAT2), 4))
c={"lon":lon,
   'lat':lat} 
data= pd.DataFrame(c)

In [4]:
# 使用矩阵分隔网格
# 生成网格ID column_num等于列数，row_num等于行数
def generalID(lon,lat,column_num,row_num):
    # 若在范围外的点，返回-1
    if lon <= LON1 or lon >= LON2 or lat <= LAT1 or lat >= LAT2:
        return -1
    # 把经度范围根据列数等分切割
    column = (LON2 - LON1)/column_num
    # 把纬度范围根据行数数等分切割
    row = (LAT2 - LAT1)/row_num
    # 得到二维矩阵坐标索引，并转换为一维ID，即： 列坐标区域（向下取整）+ 1 + 行坐标区域 * 列数
    return int((lon-LON1)/column)+ 1 + int((lat-LAT1)/row) * column_num

In [5]:
## 使用 4 X 4 划分
data['label'] = data.apply(lambda x: generalID(x['lon'], x['lat'],4,4), axis = 1)

In [6]:
data.head(10)

        lon      lat  label
0  121.4174  31.2385      4
1  121.4166  31.2666      8
2  121.4136  31.2204      1
3  121.4141  31.2802      9
4  121.4156  31.2852     11
5  121.4136  31.2403      1
6  121.4141  31.2948      9
7  121.4149  31.2773     10
8  121.4154  31.2559      6
9  121.4161  31.2560      7